.profile-container {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.profile-header {
  text-align: center;
  margin-bottom: 20px;
}

.profile-grid {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.profile-image-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-info-column {
  flex: 2;
  padding-left: 20px;
}

.profile-contact-column {
  flex: 1;
  padding-left: 20px;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 75px; /* Круглое изображение */
  object-fit: cover; /* Сохранение пропорций */
}

.input-field {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.profile-button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.profile-button:hover {
  background-color: #0056b3;
}

.profile-info {
  margin: 5px 0;
}
